.tools {
  width: 100%;

  .check-tool {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    .upload {
      width: 100%;
      border: 1px dashed darkgrey;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;


    }

    .upload-icon {
      display: flex;
      width: 100%;
      transform: scale(8);
      position: relative;
      color: lightgray;

    }
  }

  img {
    width: 100% !important;

  }
}