.SideMenu {
  height: 64em;
  width: 25rem;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  .profile-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .menu {
    width: 100%;
  }

  h4.ant-typography, .SideMenu .ant-typography h4 {
    margin-left: 4.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    margin-top: -5em;
    position: absolute;
}


.ant-typography + h5.ant-typography {
  margin-top: -4.2em;
    position: absolute;
    margin-left: 5.9em;
    font-size: 11px;
}

.BorderBottom {

border-bottom: 1px solid;

padding-bottom: 2em;

}

}
