.PageContainer {
  position: sticky;
  top: 0;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;

    .children {
      margin: 2rem 4rem;
      background-color: #fff;
      padding: 2rem;
      border: 1px solid lightgray;
      border-radius: 12px;
      width: 90%;
    }
  }
}